---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <div class="post-preview{% unless post.thumbnail %} post-preview-text-only{% endunless %}">
        {% if post.thumbnail %}
        <figure class="post-thumbnail">
          <div class="post-thumbnail-image">
            <img src="{{ post.thumbnail | relative_url }}" alt="{{ post.thumbnail_alt | default: post.title | escape }}" loading="lazy">
          </div>
          {% if post.thumbnail_credit %}
          <figcaption class="thumbnail-credit">
            {% include thumbnail-credit.html credit=post.thumbnail_credit %}
          </figcaption>
          {% endif %}
        </figure>
        {% endif %}
        <div class="post-details">
          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

          <div class="entry">
            {{ post.excerpt }}
          </div>

          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </div>
      </div>
    </article>
  {% endfor %}
</div>
